.container
  .about
    .about__head
      承認完了
    .about__body
      %p BeYourCoverは、あなたの生活を、守り彩る、そんなアイテムを皆様にお届けしたいというコンセプトで立ち上がりました。
      %p まだみた事がないもの、こういうものがあったらいいなというものを皆様にお届けできることを楽しみにしております。
      %p 引き続きお買い物をお楽しみください。
    .showMain__content__topContent__itemBox__detail__btn
      = link_to "戻る", root_path, class: "showMain__content__topContent__itemBox__detail__btn__purchaseBtn"