= render 'layouts/navbar'
.space
.container
  .about
    .about__head
      About Us
    .about__body
      %p BeYourCoverは、あなたの生活を、守り彩る、そんなアイテムを皆様にお届けしたいというコンセプトで立ち上がりました。
      %p まだみた事がないもの、こういうものがあったらいいなというものを皆様にお届けできることを楽しみにしております。
      %p お気に入りのアイテムをお探しするお役に立てます様に。
