= render 'layouts/navbar'
.space
.container
  .page
    .page__head
      配送ポリシー

    .page__title
      1.配送について
    .page__lead
      （1）お届け日数は、目安としましてはご注文日（銀行振込をご利用の場合は、ご入金確認日）より10日程度（※営業日基準）を目安にお届けします。（※なお、新型コロナウイルスによる肺炎感染の拡大に伴い、ご注文頂きましてからお届けまでには、当初予定を超過する可能性がある旨、あらかじめご了承いただけたらと思います。）
    .page__lead
      （2）ご注文頂きましたすべての商品が揃い次第、まとめてご配送させていただきます。
    -# .page__lead
    -#   （3）国内倉庫に商品がある場合は、3営業日以内に商品を発送いたします。

    .page__title
      2.ご注文商品の配送先について
    .page__lead
      （1）海外からのご注文については、日本国内へのお届けの場合のみ承っております。日本国外へは発送できませんので、ご了承ください。
    .page__lead
      （2）お届け後の返品対応などのアフターサービスについては、日本国内に限らせていただきます。

    .page__title
      3.商品をお受け取りいただけない場合について
    .page__lead
      （1）長期不在等でお荷物のお受け取りができず、 配送業者でのお荷物保管期間を過ぎて返送されてまいりましたお荷物につきましては、再発送はいたしません。
    .page__lead
      （2）商品発送後、お受け取りいただけない場合でも、発送が完了した時点で 下記の手数料は発生しております。確認後、改めて弊社が負担しております手数料を、 ご請求させていただきますので予めご了承下さいませ。
      ※発送時送料＋返送時送料＋返品事務手数料（税込1,650円）
    .page__lead
      （3）「長期不在」「住所不明」「受取ご辞退」により、何度も弊社まで商品が返送されてきた場合には、 今後のご利用を制限させていただく場合もございますので、商品は必ずお受け取りくださいますようお願いいたします。
    .page__lead
      （4）配送業者での保管期限は「出荷日から1週間」となります。
    .page__lead
      （5）お客様がご不在の場合は、配送業者より不在通知でご連絡いたしますので、受取可能期間内にお客様のお届け希望日時を、直接配送会社へご連絡、ご調整の上、商品をお受け取りください。

    -# .page__title
    -#   4.配送業者および配送料
    -# .page__lead
    -#   （1）配送業者：日本郵便 ・佐川急便
    -# .page__lead
    -#   （2）配送料：550円(税込)　ただし、北海道・沖縄1,100円（税込）
    -# .page__lead
    -#   （3）商品代金合計10,000円（税込）以上ご購入のお客様は配送料が無料となります。北海道・沖縄県への送料は550円(税込)となります。