= render 'layouts/navbar'
.space
.container
  .page
    .page__head
      返金ポリシー
    .page__lead
      ご注文完了後のキャンセルはお受けしておりません。また、ご注文後の注文商品の変更依頼についてもお受けしておりません。
      ご注文の際は内容をよくご確認の上、ご購入いただくようお願いいたします。
    .page__lead
      商品がお手元に届きましたら、お届け商品のご確認をお願いします。
      不具合や、ご注文内容と相違がございましたら、お届け後3日以内にご連絡ください。

    .page__title
      1.商品不良・汚損・破損があった場合、ご注文と異なる場合
    .page__lead
      お届け後3日間以内にご連絡ください。すぐに返品・交換をさせていただきます。在庫がない場合は返金させていただきます。
      その場合の送料は当ショップが負担いたします。当ショップに在庫がある場合は、返金ではなく交換対応となります。予めご了承ください。

    .page__title
      2.返金について
    .page__lead
      商品代金の返金は返品商品の到着を確認してからとなりますので、1週間前後お時間をいただきます。
      該当する商品代金、決済手数料、消費税をご返金いたします。

    .page__title
      3.返金方法について
    .page__lead
      クレジットカード決済をご利用の場合は、クレジットカード会社経由でご返金いたします。
      銀行振込をご利用の場合は、銀行振込にてご返金いたします。

    .page__title
      4.その他
    .page__lead
      お客様が故意に商品の受け取りを拒否された場合、あるいは、ご不在が続き、お客様との連絡がとれないまま当ショップに返品された場合、
      お届けにかかった費用 「往復送料、返品事務手数料（税込1,650円）」を全額ご請求させていただきますのでご了承ください。