= render 'layouts/navbar'
.space
.container
  .page
    .page__head
      利用規約
    .page__title
      第1条（はじめに）
    .page__lead
      1. この利用規約は、桑田昌孝（以下「運営者」といいます）が運営するECサイト『BeYourCover』（以下「本サイト」といいます）において基本となる利用条件を定めるものです。
      会員は本利用規約および運営者が定める本サイトの利用に関するヘルプや利用ガイドの全てに同意の上、本サイトを利用するものとします。
      運営者は、会員が本サイトを利用した時点で、本利用規約の内容に同意したものとさせていただきます。
    .page__lead
      2. 本利用規約と個別の利用規約（本サイト利用に関するヘルプおよび利用ガイドを含みます、以下「個別利用規約」といいます）の規定が異なるときは、
      個別利用規約の規定が本利用規約に優先して適用されるものとします。

    .page__title
      第2条（定義）
    .page__lead
      本利用規約においては、次の用語はそれぞれ次の意味で使用します。
    .page__lead
      (1) 「本サイト」運営者が提供するECサイト BeYourCover
    .page__lead
      (2) 「利用規約等」 本利用規約および個別利用規約
    .page__lead
      (3) 「本サービス」 利用規約等に基づき運営者が会員に提供するサービス
    .page__lead
      (4) 「会員」 利用規約等について運営者と合意し、本サービスの提供を受ける個人または法人
    .page__lead
      (5) 「パスワード」 Eメールと組み合わせて、会員がログインする際に用いられる認証を得るため入力する文字及び数字の羅列
    .page__lead
      (6) 「反社会的勢力」 指定暴力団、指定暴力団関係団体の構成員又は関係者、その他反社会的組織であり、公共の福祉に反する活動を行う団体のこと

    .page__title
      第3条（通知）
    .page__lead
      1. 運営者から会員への通知は、利用規約等に特段の定めのない限り、通知内容を電子メール及びその他連絡手段など、運営者が適当と判断する方法により行います。
    .page__lead
      2. 前項の規定に基づき、運営者から会員への通知を電子メール送信もしくはその他の通信手段によって行う場合、会員に対する当該通知は、
      電子メール送信もしくはその他通信手段が適用された時点から効力が生じるものとします。

    .page__title
      第4条（メールマガジン等について）
    .page__lead
      会員は、運営者がシステムメンテナンスに関する案内、本サービスに関する案内、その他運営者が適切と判断した情報を、電子メール等の手段を通じて会員に配信することを了承するものとします。

    .page__title
      第5条（会員登録について）
    .page__lead
      1. 会員となることを希望する者（以下、「会員希望者」といいます）は、会員希望者本人が運営者所定の方法により会員登録を行い、
      運営者がこれに対し運営者所定の方法により承諾の通知を発信したときに会員登録が成立するものとします。
      なお、会員希望者は利用規約等の内容を承諾のうえ、会員登録を行うものとし、
      本サービスの会員希望者が会員登録を行った時点で、運営者は、本サービスの会員希望者が利用規約等の内容を承諾しているものとみなします。
    .page__lead
      2. 会員登録の際には、虚偽の無い情報を登録するものとします。会員の登録情報に変更が生じた場合、
      会員は速やかに所定の手続き行うものとします。
    .page__lead
      3. 未成年者は、適格な法定代理人の事前の同意がなければ、登録申請をすることができないものとします。
    .page__lead
      4. 利用規約等に基づいて会員登録または登録申請された会員の情報および会員の当サービスの利用により運営者が取得した情報については、
      別途定める運営者の「プライバシーポリシー」に従って取り扱われるものとします。
    .page__lead
      5. 運営者は前各項その他利用規約等の規定にかかわらず、本サービスの会員希望者および会員が以下のいずれかに該当する場合には、
      当該会員への事前通知、承諾なしに会員登録を拒否することができます。
      また、会員登録を認めた後でも、会員登録を取り消すことができるものとします。会員登録を抹消する場合、その会員が運営者に対して保有するすべての権利を抹消するものとします。
    .page__lead
      (1) 運営者に提供された登録情報の全部又は一部につき虚偽、誤記又は記載漏れがあった場合
    .page__lead
      (2) 当該登録希望者が、運営者が提供するサービスの利用に際して、過去にアカウント削除等の本サービス利用停止措置を受けたことがある、又は現在受けている場合
    .page__lead
      (3) 登録希望者が本サービス利用契約に違反し、または違反する恐れがあると運営者が判断する場合
    .page__lead
      (4) 反社会的勢力の構成員またはその関係者、もしくはそのおそれがあると運営者が判断したとき
    .page__lead
      (5) その他、運営者が登録を適当でないと判断した場合

    .page__title
      第6条（パスワードの管理について）
    .page__lead
      1. 運営者及び本サービスでは、会員のパスワードの管理については関与いたしません。
      会員は、パスワードを第三者に開示、貸与、共有、譲渡、売買等の行為をしないとともに、自己の責任で第三者に漏えいすることのないよう厳重に管理するものとします。
      運営者は、会員のパスワードによる利用その他の行為は、全て会員による利用とみなします。
    .page__lead
      2. 登録情報又はパスワードの管理不十分、使用上の過誤、第三者の使用等による損害の責任は会員が負うものとし、運営者は一切の責任を負いません。
    .page__lead
      3. 会員は、パスワードを第三者に知られた場合、または会員のパスワードが第三者に使用されている疑いのある場合には、
      直ちに運営者にその旨を連絡するとともに、運営者の指示がある場合にはこれに従うものとします。
      この場合、運営者はその会員パスワード等を不正アカウントとして停止することができるものとします。
    .page__lead
      4. 会員は、定期的にパスワードを変更する義務があるものとし、その義務を怠ったことにより損害が生じたとしても、 運営者は一切責任を負いません。


    .page__title
      第7条（届出事項の変更等について）
    .page__lead
      会員は、入会申込の際に運営者に届け出た事項に変更のあった場合は、遅滞なく運営者所定の様式により届け出るものとします。
      運営者からの会員に対する通知は、会員が運営者に申請した連絡先に発信することにより、会員に通常到達すべきときに到達したとみなされるものとします。

    .page__title
      第8条（退会について）
    .page__lead
      会員は、運営者所定の手続きにより退会することができます。運営者での退会手続き終了後、退会となります。
      会員が死亡した場合、その他本人の会員資格の利用が不可能となる事由があったときは、運営者は、当該会員がその時点で退会したものとみなし、会員パスワードを利用停止できるものとします。

    .page__title
      第9条（会員登録情報の第三者への提供について）
    .page__lead
      1. 運営者は、以下に定める場合には、会員登録情報を第三者に提供することができるものとします。
    .page__lead
      (1) 本人の同意がある場合
    .page__lead
      (2) 裁判所、検察庁、警察、税務署、弁護士会、消費者センターまたはこれらに準じた権限を持つ機関から、登録情報の開示を求められた場合、運営者がこれに応じることを判断した場合
    .page__lead
      (3) 保険金請求のために保険会社に開示する場合
    .page__lead
      (4) 商品の提供、その他付随するサービス等の提供のために会員の注文情報または申し込み情報を委託する事業者に転送する場合
    .page__lead
      (5) 代金の決済を委託する事業者に開示する場合
    .page__lead
      (6) 運営者が行う業務の全部または一部を第三者に委託する場合
    .page__lead
      (7) 運営者に対して秘密保持義務を負う者に対して開示する場合
    .page__lead
      (8) 運営者の権利行使に必要な場合
    .page__lead
      (9) 合併、営業譲渡その他の事由による事業の承継の際に、事業を承継する者に対して開示する場合
    .page__lead
      (10) 個人情報保護法その他の法令により認められた場合
    .page__lead
      (11) その他弊社が開示を相当であると判断した場合

    .page__title
      第10条（本サービスの変更および中止について）
    .page__lead
      運営者は、本サービスの適切な運営を目的とする場合において、会員にあらかじめ通知することなく本サービスの内容や仕様を変更したり、提供を停止したり中止したりすることができるものとします。
      運営者は、変更または停止、中止等により会員に損害または不利益が生じたとしても、一切責任を負わないものとします。

    .page__title
      第11条（会員の禁止行為について）
    .page__lead
      1. 会員は、本サービスを利用するに際し、以下の行為を行ってはなりません。
    .page__lead
      (1) 本サービスを不正の目的をもって利用する行為
    .page__lead
      (2) 知的財産権、肖像権、パブリシティ権その他の権利を侵害する行為
    .page__lead
      (3) プライバシーを侵害する行為
    .page__lead
      (4) 名誉毀損行為、侮辱行為や他者の業務妨害となる行為
    .page__lead
      (5) 詐欺等の犯罪に結びつく行為
    .page__lead
      (6) 不正アクセス行為の防止等に関する法律に違反する行為、電子計算機損壊等業務妨害罪（刑法第234条の2）に該当する行為をはじめ、運営者及び他人のコンピューターに対して不正な操作を行う行為
    .page__lead
      (7) コンピュータウイルスなど有害なプログラム等を送信もしくは提供する行為、または推奨する行為
    .page__lead
      (8) その他の犯罪行為又は法令等に違反する一切の行為
    .page__lead
      (9) 運営者、会員その他の第三者の情報を改ざん、消去する行為
    .page__lead
      (10) 運営者、会員その他の第三者の設備を不正に利用し、その運営に支障を与える行為
    .page__lead
      (11) 運営者の承認を得ないで行う当会員の身分を利用した全ての営業行為
    .page__lead
      (12) 法令、利用規約等または公序良俗に違反する行為
    .page__lead
      (13)本サービスの運営を妨害する行為、或いは運営者の信頼を毀損するような行為
    .page__lead
      (14)その他運営者が不適当と判断する行為
    .page__lead
      2. 会員が利用規約等に違反することにより、運営者が何らかの損害を被った場合、運営者は会員に対して損害の賠償請求ができるものとします。

    .page__title
      第12条（運営者の責任の範囲について）
    .page__lead
      1. 運営者は、本サービスの内容について、瑕疵やバグがないことは保証しておりません。
    .page__lead
      2. 運営者は、会員が本サービスを利用する際に、コンピュータウイルスなど有害なプログラム等による損害を受けないことを保証しておりません。また、それらに起因する損害についていかなる責任も負いません。
    .page__lead
      3. 運営者は、利用者が本サービスを利用する際に発生する通信費用等について、一切負担いたしません。
    .page__lead
      4. 運営者は、いかなる場合でも、会員の逸失利益、間接損害、拡大損害、特別損害、弁護士費用その他の本条に規定のない損害を賠償しないものとします。
    .page__lead
      5. 運営者は、天災地変、騒乱、暴動、火災、停電等の不可抗力により会員に発生した損害については、債務不履行責任、不法行為責任、その他法律上の請求原因の如何を問わず賠償の責任を負わないものとします。
    .page__lead
      6. 運営者は、本サービスの利用を通じて得た情報等の正確性、特定の目的への適合性等について、一切の責任を負わないものとします。
    .page__lead
      7. 運営者は、本サイトのサービスの利用を通じて得た情報等に起因して損害が生じた場合、一切の責任を負わないものとします。
    .page__lead
      8. 運営者は、本サイトを通じて提供される情報・サービスに関し、会員と他の会員あるいは第三者と紛争が生じた場合は、会員は、自己の費用と責任においてこれを解決するものとし、運営者に損害を与えないものとします。
    .page__lead
      9. 運営者は、本サイトを通じて行われた会員と第三者との物品売買等の取引に関連する債務の履行、及びその他の取引に関して生じた紛争については一切の責任を負わないものとします。
    .page__lead
      10. 運営者は、前項における不可抗力その他運営者の責に帰さない事由により、本サービスの全部または一部が滅失または破損し、修復しないことを決定した場合には、その旨を会員に通知して本サービスの全部または一部を廃止することができるものとします。

    .page__title
      第13条（準拠法と裁判所管轄について）
    .page__lead
      利用規約等の成立、効力発生、解釈にあたっては日本法を準拠法とします。また、利用規約等に関連して運営者と会員または第三者との間で生じた紛争については運営者所在地を管轄する裁判所を第一審の専属的合意管轄裁判所とします。

    .page__title
      第14条（利用規約等の変更について）
    .page__lead
      運営者は、利用規約等を随時改定することがあります。利用規約等の改定後は、改定後の利用規約等を適用するものとします。なお、会員が利用規約等の改定後に本サービスを利用した場合、改定後の利用規約等に同意したものとみなします。

    .page__title
      第15条（利用規約について）
    .page__lead
      本利用規約の一部の条項が無効とされた場合も、他の条項の効力には影響せず、他の規定は有効とします。

    .page__title
      第16条（商品の購入について）
    .page__lead
      1. 会員は、本サービスを利用して運営者から商品等を購入することができます。
    .page__lead
      2. 会員は、商品等の購入を希望する場合、運営者が別途指定する方法に従って、商品等の購入又は利用を申込むものとします。
    .page__lead
      3. 前項の申込に伴い、会員が入力・登録した配達先・注文内容等を確認の上で注文する旨のボタンをクリックし、その後、運営者から注文内容を確認する旨のメールが会員に到達した時点で、
      会員と運営者との間に当該商品等に関する売買契約が成立するものとします。
    .page__lead
      4. 前項の規定に拘わらず、本サービス利用に関して不正行為又は不適当な行為があった場合、運営者は売買契約について取消、解除その他の適切な措置を取ることができるものとします。
    .page__lead
      5. 本サービスによる商品等の配送は、日本国内に限ります。

    .page__title
      第17条（商品等の返品・交換について）
    .page__lead
      1. 商品の返品又は交換は、配送中の破損、商品等の瑕疵、誤送、模造品、海賊版その他運営者の責めに帰すべき事由がある場合に限るものとします。
      なお、交換を希望された場合においても、商品の欠品等を理由に交換ができないことがあります。
      かかる場合には運営者は当該商品等に関するお支払代金を返金するものとします。
    .page__lead
      2. 会員は、運営者が別途定める手続に従い、前項に定める返品・交換を申請するものとし、運営者は、当該返品・交換に係わる商品等の一切の送料を負担するものとします。

    .page__title
      第18条（支払方法について）
    .page__lead
      1. 商品等のお支払い金額は、消費税を含む商品等の購入代金及びこれに係わる各種手数料の合計となります。
    .page__lead
      2. 本サービスによって購入された商品等のお支払いに関しては、会員本人名義のクレジットカードによる支払い、又は運営者が別途認める支払方法に限るものとします。
    .page__lead
      3. クレジットカードによる支払の場合は、会員がクレジットカード会社との間で別途契約する条件に従うものとします。
      なお、クレジットカードの利用に関連して、会員とクレジットカード会社等の間で何らかの紛争が発生した場合は、会員とクレジットカード会社との間で責任をもって解決するものとします。

    .page__title
      第19条（商品等に関する免責について）
    .page__lead
      1. 運営者は、本サービス及び本サービスを通じて販売される商品等につき、その品質、材質、機能、性能、他の商品との適合性その他の欠陥、
      及びこれらが原因となり生じた損害、損失、不利益等については、前条に定める場合を除き、いかなる保証・負担も負わないものとします。
    .page__lead
      2. 運営者は、配送先不明等によるトラブルに関しては、会員が登録している連絡先に連絡すること及び商品購入の際に指定された配達先に商品等を配送等することにより、
      商品等の引渡債務を履行し、当該債務から免責されるものとします。

    .page__lead
      2020年10月1日 制定