= render 'layouts/navbar'
.space
.container
  .page
    .page__head
      特定商取引法に関する表記

    .page__title__line
      会社名
    .page__lead__space
      CraftCloud有限会社

    .page__title__line
      販売責任者名
    .page__lead__space
      桑田　昌孝

    .page__title__line
      住所
    .page__lead__space
      〒123-4567
    .page__lead__space
      東京都渋谷区

    .page__title__line
      電話番号
    .page__lead__space
      090-0000-0000

    .page__title__line
      電話受付時間
    .page__lead__space
      休日10:00～18:00

    .page__title__line
      メールアドレス
    .page__lead__space
      info@beyourcover.com
    .page__lead__space
      ※お問い合わせには土日に返信致します。

    .page__title__line
      URL
    .page__lead__space
      https://beyourcover.com


    .page__title__line
      販売価格
    .page__lead__space
      %li 販売価格は、表示された金額（表示価格/税込）といたします。
    .page__lead__space
      %li 商品代金以外の必要料金

    .page__title__line
      消費税
      送料
    .page__lead__space
      %li 550円（税込）（ただし、北海道と沖縄県は1,100円（税込））
      %li 10,000円（税込）以上をお買い上げ頂いた場合は、送料無料。（ただし、北海道と沖縄県は550円（税込））
      %li 銀行振込手数料（※銀行振込をご利用頂いた場合のみ）

    .page__title__line
      お届け時期
    .page__lead__space
      入金確認後、3営業日以内に商品を発送いたします。
      なお、お取り寄せ商品については、商品入荷後、3営業日に発送いたします。
      商品の在庫がない場合などは、別途ご連絡いたします。
      詳細は、配送ポリシーをご確認下さい。

    .page__title__line
      お支払方法
    .page__lead__space
      %li クレジットカード
    .page__lead__space
      %li 銀行振込

    .page__title__line
      お申込みの有効期限
    .page__lead__space
      3日以内にお願いいたします。
    .page__lead__space
      入金がない場合は、キャンセルとさせていただきます。

    .page__title__line
      返品・交換・キャンセルについて
    .page__lead__space
      ご注文完了後のキャンセルはお受けいたしておりません。
    .page__lead__space
      商品が不良の場合のみ交換いたします。
    .page__lead__space
      詳細は、返金ポリシーをご確認下さい。