.showMain {
  background-color: #f8f8f8;
  padding: 40px;
  margin: 0 auto;

  &::after {
    display: block;
    content: '';
    clear: both;
  }

  &__content {
    width: 100%;
    margin: 0 auto;
    &__topContent {
      align-items: center;
      &__name {
        text-align: center;
        font-weight: bold;
        font-size: 24px;
      }
      &__itemBox {
        background-color: #fff;
        padding: 24px 20px;
        display: flex;
        justify-content: center;
        height: 100%;
        // padding-bottom: 50px;
        margin-bottom: 100px;

        &__body {
          margin-top: 16px;
          list-style: none;
          display: flex;
          justify-content: center;
          position: relative;
          margin-right: 50px;

          &__pic {
            height: 100%;
            align-items: center;

            & img {
              object-fit: cover;
              height: 100%;
              vertical-align: bottom;
              border: 0;
            }

            &__sub {
              list-style: none;
              margin-top: 10px;
              height: 7rem;
              display: flex;
              flex-wrap: wrap;
              justify-content: center;

              img {
                object-fit: cover;
                height: 100%;
                vertical-align: bottom;
              }
            }
          }
        }
        &__detail {
          &__price {
            margin: 24px 10px 24px 0;
            text-align: center;
            display: flex;
            flex-direction: column;
            font-size: 46px;
            font-weight: bold;
  
            &__subinfo {
              font-size: 16px;
              font-weight: normal;
            }
          }
          &__btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            &__soldOut {
              font-size: 24px;
              line-height: 60px;
              margin-top: 16px;
              background-color: #ea352d;
              color: #fff;
              text-align: center;
              font-weight: 600;
            }
    
            &__purchaseBtn {
              font-size: 24px;
              line-height: 60px;
              margin-top: 16px;
              background-color: black;
              color: #fff;
              text-align: center;
              font-weight: 600;
              border-radius: .5em;
              box-shadow: -12px -12px 12px 0 rgba(255,255,255,1),
              12px 12px 12px 0 rgba(0,0,0,.3);
              max-width: 400px;
              width: 100%;
              &:hover {
                color: gray;
              }
            }
          }
  
          &__itemDetail {
            line-height: 1.5;
            font-size: 18px;
            margin-bottom: 30px;
            text-align: center;
          }
        }

        &__optionalArea {
          display: flex;
          justify-content: space-between;

          ul {
            margin-top: 10px;
            display: flex;
          }

          &__optionalBtn {
            font-size: 14px;

            a {
              padding: 6px 10px;
              display: inline-block;
              border-radius: 4px;
              color: #333;
              border: 1px solid #333;
            }
          }

          &__likeBtn {
            margin: 0 auto;
            padding: 0 10px;
            border-radius: 40px;
            border: 1px solid #ffb340;

            .icon-btn {
              margin-right: 5px;
              font-size: 1.2rem;
              color: #3ccace;
              line-height: 35px;
              vertical-align: baseline;
            }

            .icon-btn.liked {
              color: #ffcc33;
              font-size: 1.5rem;
            }

            span {
              font-style: normal;
              color: #888888;
            }

            .yes-like {
              color: #e95388;
              font-weight: bolder;
              font-size: 1.2rem;
            }

            .do-like {
              color: #666666;
            }

            .like-count {
              font-weight: bold;
              padding: 0 5px;
              font-size: 1.3rem;
            }
          }
        }
      }

      &__commentBox {
        padding: 24px;
        background-color: #fff;
        margin: 10px 0;
        text-align: center;

        &__textField {
          width: 100%;
          min-height: 104px;
          padding: 10px;
        }

        &__noticeMsg {
          padding: 8px;
          font-size: 14px;
          background-color: #f8f8f8;
          margin: 10px 0;
          text-align: left;
        }

        &__submitBtn {
          line-height: 48px;
          background-color: #3ccace;
          border: 1px solid #3ccace;
          color: #fff;
          width: 60%;
          font-size: 18px;
          border-radius: 100px;
          margin: 0 auto;
          cursor: pointer;
        }
        &__submitBtnSold {
          line-height: 48px;
          background-color: gray;
          border: 1px solid gray;
          color: #fff;
          width: 60%;
          font-size: 18px;
          border-radius: 100px;
          margin: 0 auto;
        }
      }

      .backpage {
        input {
          display: block;
          margin: 0 auto;
          width: 150px;
          background-color: #f8f8f8;
          border: solid #f8f8f8;
          color: #888888;
          font-size: 16px;
          cursor: pointer;
          bottom: 0;
        }

        input:hover {
          color: #c0c0c0;
          text-decoration: underline;
        }

        input:active {
          color: #3e3e3e;
          text-decoration: underline;
        }
      }
    }

    &__links {
      list-style: none;
      display: flex;
      justify-content: space-between;

      a {
        color: #3ccace;
      }
    }

    &__relatedItems {

      &__category {
        display: block;
        margin: 24px 0 8px;
        color: #3ccace;
        font-weight: bold;
        font-size: 22px;
        position: relative;
      }
      &__productLists {
        display: flex;
        width: 100%;
        justify-content: center;
        &__productList {
          margin-bottom: 10px;
          width: calc(100% / 3);

          &--img {
            background-color: #fff;
            width: 233px;
            height: 150px;
            position: relative;
            overflow: hidden;
            margin: 0;
            z-index: auto;

            img {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              width: 100%;
              z-index: auto;
              height: 150px;
              object-fit: cover;
              vertical-align: bottom;
            }
          }

          &__body {
            background-color: white;
            color: #333;
            padding: 16px;

            &__name {
              overflow: hidden;
              line-height: 1.5;
              font-size: 16px;
              text-align: left;
            }

            &__details {
              font-size: 16px;

              ul {
                display: flex;
                align-items: center;
                justify-content: space-between;
                list-style: none;
              }
            }

            p {
              font-size: 10px;
            }
          }
        }
      .productListDetails, .productTax {
        font-weight: bold;
      }
    }
  }
}

.purchaseBtn_edit {
  width: 120px;
  background-color: #3ccace;
  text-align: center;
  border-radius: 4%;
  bottom: 182px;
  right: 32px;
  position: fixed;
  padding: 15px;

  &__text {
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
  }

  &__icon {
    width: 60%;
    vertical-align: bottom;
  }
}

  .comments {
    display: flex;
    flex-direction: column;
    &__box {
      display: flex;
      text-align: start;
      flex-direction: column;
      margin-bottom: 30px;
      &__noComment {
        padding: 8px;
        font-size: 14px;
      }
      &__name {
        cursor: pointer;
        margin-top: 5px;
        color: #3ccace;
        &__mark {
          font-size: 5px;
          color: #3ccace;
        }
      }
      &__text {
        display: inline-block;
        position: relative;
        margin: 0 0 0 50px;
        padding: 10px;
        max-width: 500px;
        border-radius: 12px;
        background: #cfcfcf;
        min-height: 50px;
        &:after {
          content: "";
          display: inline-block;
          position: absolute;
          top: 3px;
          left: -19px;
          border: 8px solid transparent;
          border-right: 18px solid #cfcfcf;
          -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
        }
      }
    }
  }
}

@media screen and (max-width:800px) {
  .showMain__content__topContent__itemBox {
    flex-direction: column;
    &__body {
      margin: 0;
    }
  }
}