.showMain {
  // background-color: #f8f8f8;
  padding: 40px;
  margin: 0 auto;

  &::after {
    display: block;
    content: '';
    clear: both;
  }

  &__content {
    width: 100%;
    margin: 0 auto;
    &__topContent {
      align-items: center;
      &__name {
        text-align: center;
        font-weight: bold;
        font-size: 24px;
        border-radius: .2em;
        box-shadow: -12px -12px 12px 0 rgba(255,255,255,1),
        12px 12px 12px 0 rgba(0,0,0,.3);
      }
      &__itemBox {
        background-color: #fff;
        padding: 24px 20px;
        display: flex;
        justify-content: center;
        height: 100%;
        // padding-bottom: 50px;
        margin-bottom: 100px;

        &__body {
          margin-top: 16px;
          list-style: none;
          display: flex;
          justify-content: center;
          position: relative;
          margin-right:100px;
          width: 100%;

          &__pic {
            height: 100%;
            align-items: center;

            & img {
              object-fit: cover;
              height: 100%;
              vertical-align: bottom;
              border: 0;
            }

            &__sub {
              list-style: none;
              margin-top: 10px;
              height: 7rem;
              display: flex;
              flex-wrap: wrap;
              justify-content: center;

              img {
                object-fit: cover;
                height: 100%;
                vertical-align: bottom;
              }
            }
          }
        }
        &__detail {
          width: 100%;
          &__price {
            margin: 24px 10px 24px 0;
            text-align: center;
            display: flex;
            flex-direction: column;
            font-size: 46px;
            font-weight: bold;
  
            &__subinfo {
              font-size: 16px;
              font-weight: normal;
            }
          }
          &__btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            &__soldOut {
              font-size: 24px;
              line-height: 60px;
              margin-top: 16px;
              background-color: #ea352d;
              color: #fff;
              text-align: center;
              font-weight: 600;
            }
    
            &__purchaseBtn {
              font-size: 24px;
              line-height: 60px;
              margin-top: 16px;
              background-color: black;
              color: #fff;
              text-align: center;
              font-weight: 600;
              border-radius: .5em;
              box-shadow: -12px -12px 12px 0 rgba(255,255,255,1),
              12px 12px 12px 0 rgba(0,0,0,.3);
              max-width: 400px;
              width: 100%;
              &:hover {
                color: gray;
              }
            }
          }
  
          &__itemDetail {
            line-height: 1.5;
            font-size: 18px;
            margin-bottom: 30px;
            text-align: center;
          }
          &__quantity {
            width: 100%;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            max-width: 400px;
            margin: auto;
            border-radius: .5em;
            box-shadow: -12px -12px 12px 0 rgb(255, 255, 255),
            12px 12px 12px 0 rgba(0,0,0,.3);
          }
        }
      }
    }
  }
}

.select-quantity {
  border-color:white;
  background-color: white;
  border-radius: .3em;
  box-shadow: -1px 0 12px 0 rgb(93, 97, 103),
  12px 12px 12px 0 rgba(0,0,0,.3);
}

.cart-quantity {
  border-radius: .3em;
  box-shadow: -1px 0 12px 0 rgb(93, 97, 103),
  5px 5px 5px 0 rgba(0,0,0,.3);
  min-width: 35px;
}

.cart-edit {
  border: none;
  background-color:rgba(0,0,0,0);
}

.cart-delete {
  border: none;
  background-color:rgba(0,0,0,0);
}

@media screen and (max-width:800px) {
  .showMain__content__topContent__itemBox {
    flex-direction: column;
    &__body {
      margin: 0;
    }
  }
  .cart-delete {
    margin: 10px auto 10px 10px;
  }
}