/* cover写真 */

.top-imgbox{
	max-width: 100%;
}

.top-imgbox .cover-img{
	position: relative;
}

.top-imgbox .cover-img p{
	position: absolute;
	font-family: var(--M-PLUS-1-p);
	top: 40%;
	left: 50%;
	font-size: 3.7vw;
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	margin: 0;
	padding: 0;
	text-align: center;
	width: 100%;
	color: #fff;
}

.top-imgbox .cover-img img{
	width: 100%;
}

/* Contents page */
.content {
	margin-bottom: 2rem;
	transition: 0.6s;
	&:hover {
		opacity: .7;
		transform: scale(1.1);
	}
	&__front {
		position: relative;
		font-family: var(--M-PLUS-1-p);
		margin: 5%;
		padding: 0;
		box-sizing: border-box;
		overflow: hidden!important;
		border-radius: .5em;
		box-shadow: -12px -12px 12px 0 rgba(255,255,255,1),
		12px 12px 12px 0 rgba(0,0,0,.3);
		&__imgbox {
			position: relative;
			img {
				width: 100%;
			}
			&__text {
				position: absolute;
				font-family: var(--M-PLUS-1-p);
				color: whitesmoke;
				top: 50%;
				left: 50%;
				-ms-transform: translate(-50%,-50%);
				-webkit-transform: translate(-50%,-50%);
				transform: translate(-50%,-50%);
				width: 100%;
				font-size: 4vw;
				text-align: center;
				text-shadow: 0 2px 5px rgba(0, 0, 0, .8);
			}
		}
	}
}

.products {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	.no-stock {
		align-items: center;
		margin: auto;
		justify-content: center;
		display: flex;
		flex-direction: column;
		&__msg {
			font-size: 2rem;
		}
		&__admin {
			font-size: 1.5rem;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		&__name {
			font-size: 1rem;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	&__comment {
		font-size: .7rem;
		margin-bottom: 10px;
	}
	.product {
		margin-bottom: 2rem;
		transition: 0.6s;
		text-align: center;
		&:hover {
			opacity: .7;
			transform: scale(1.1);
		}
		&__title {
			text-decoration: none;
			color: black;
		}
		&__price {
			text-decoration: none;
			color: black;
		}
		&__front {
			position: relative;
			font-family: var(--M-PLUS-1-p);
			margin: 5%;
			padding: 0;
			box-sizing: border-box;
			overflow: hidden!important;
			border-radius: .5em;
			box-shadow: -12px -12px 12px 0 rgba(255,255,255,1),
			12px 12px 12px 0 rgba(0,0,0,.3);
			&__imgbox {
				position: relative;
				img {
					width: 100%;
				}
			}
		}
	}
}
.contentCat {
	margin-bottom: 2rem;
	&__show {
		text-align: center;
		border-radius: .5em;
		box-shadow: -12px -12px 12px 0 rgba(255,255,255,1),
		12px 12px 12px 0 rgba(0,0,0,.3);
	}
}

@media screen and (max-width:800px) {
	.product {
		&__title {
			font-size: .7rem;
		}
		&__price {
			font-size: .8rem;
		}
	}
}