= render 'layouts/navbar'
.container-fluid.p-0
  .cover-img
    = image_tag "cover.jpg"
    %p あなたに必要なカバーは何ですか？

.container.article-body
  .row
    = render 'products/shared/product_list'
    
.p-section.col-md-4.col-sm-6.col-6
  .front
    .imgbox
      %a{:href => "#"}
        %img{:alt => "img1", :src => "#"}/
        %h3 iPhone 11
