<%= render 'layouts/navbar' %>
<div class="space"></div>
<div class="user-form">

  <div class="user-form__field">
    <div class="user-form__field__email">
      <%= link_to new_user_path, class: "btn-default btn-sns" do %>
       メールアドレスで登録する
      <% end %>
      <%= link_to "#", class: "btn-default btn-sns btn-sns-google", id: "google-login" , method: :post do %>
        <i class="fab fa-google"></i>
        Googleで登録する
      <% end %>
      <%= link_to "#", class: "btn-default btn-sns btn-sns-facebook", id: "facebook-login" , method: :post do %>
       <i class="fab fa-facebook"></i>
       Facebookで登録する
      <% end %>
    </div>
  </div>

  
</div>

