= render 'layouts/navbar'
.space
.user-form
  .user-form__field
    .showMain__content__topContent__itemBox__detail__btn
      = link_to new_user_path, class: "showMain__content__topContent__itemBox__detail__btn__purchaseBtn" do
        新規登録
      -# = link_to new_user_path, class: "btn-default btn-sns btn-sns-google", id: "google-login" , method: :post do
      -#   %i.fab.fa-google
      -#   Googleで登録する
      -# = link_to new_user_path, class: "btn-default btn-sns btn-sns-facebook", id: "facebook-login" , method: :post do
      -#   %i.fab.fa-facebook
      -#   Facebookで登録する
